<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="https://">
                    <add key="http" value="https" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
        <httpRedirect enabled="false" destination="https://radixlecti.tk" />
    </system.webServer>
</configuration>
